h1{
    text-shadow: 0 0 13px #cccc00, 0 0 70px #e6e600;
}

.background{
    background: #696868;
}
.jumbotron {
    background: #696868; 
    width: 100vw;
    height: 700px;
    text-align: center;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 450px;  
 }
 
